
@import url('https://fonts.googleapis.com/css?family=Bangers|Radio+Canada');

#content {
max-width: 1600px;
margin: 0 auto;
}
nav a {
    text-align: center;
    color:#e0b591;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    color:#080808;
}
.home-title{
    color:#080808;
    font-family: Bangers, Papyrus, Arial-Black;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color:#080808;
}
.mountains{
    margin-top:10%;
    margin-bottom: 15%;
}
#hero-img{
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
    margin-bottom: 40px;
}
main section {
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body{
    background-color:#ffffff;
    font-family: Radio+Canada,Roboto,sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
h2 {
    margin: 0;
}
header{
    background-color:#366E4B;
}
nav a:hover{
    background-color:#ffffff;
    color:#080808;
}
.book, .join{
    background-color:#e0b591;
    color:#080808;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 25px 10px 25px;
    margin-top: 50px;
    border-radius: 10px;
}
.book:hover, .join:hover{
    background-color:#ffffff;
    color:#080808;
}
#background{
    background-color:#366E4B;
}
.msg{
    background-color:#366E4B;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color:#080808;
    font-family: Bangers, Papyrus, Arial-Black;
}
.msg p{
    color:#080808;
    font-size: .8em;
    padding-bottom: 15px;
}
.card-img{
    margin-top: 10% 0;
    
    border: 10px solid #e0b591;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
footer{
    background-color:#3c6d80;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3{
    color:#080808;
    text-decoration: none;
}
footer h3 a:hover{
    text-decoration: underline
}
footer a{
    color:#080808;
    text-decoration: none;
}
footer a:hover{
    color:#ffffff;
}
footer .social img {
    padding-top: 15px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
#hero-image {
    width: 100%;
}
.icon {
    width: 80px;
    padding-top: 10px;
}